*{
    padding: 0;
    margin: 0;
   
}

#hero{
    display: flex;
    gap: 10%;
    background-color: #46352a;
}
#imghero{
    width: 50%;
}
#textehero{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul{
list-style-type: none;
display: flex;
justify-content: space-between;
width: 33%;
text-decoration: none;
}

.lien1{
    text-decoration: dashed;
}
#divhero{
    display: flex;
    justify-content: space-between;
}
#valeurs{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.une_valeur{
    border: 1px brown solid;
}
section{
    text-align: center;
}
#unique1{
background-color:#4A6743;
text-align: center;
padding: 20px;
}
.card{
    text-align: left;
    box-shadow: 5px 5px 20px;    
    border-radius: 5px;
    img{
    width: 100%;
    height: 57%;
}
    
}
.cancre{
    display: flex;
    justify-content: space-around;

}
form{
    width: 33%;
    padding: 3%;
}
#formSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstRow{
    display: flex;

}
textarea{
    width: 100%;
    height: 100px;
}
.form-example {
    width: 50%;
    input {
        width: 100%;
    }
}
footer{
    margin-top: 30px;
    padding: 40px;
    background-color: #46352a;
    justify-items: center;
    h6{
        color: white;
    }
}
h1{
    color: white;
}



    
    
